
$blancotexto: #ffffff;


main {

    ul {
        margin-right: 15px;
    }
    .articleContacto{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    .imagenContacto {
        margin-bottom: 50px;
        height: 400px;
        width: auto;
        border-radius: 20px;
    }
}

.contacto {
    height: 400px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}

.nombreYApellido {
    color: $grisclaro;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.correoElectronico {
    color: $grisclaro;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.mensaje {
    color: $grisclaro;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}


.contactoEnviar {
    background-color:$violeta;
    font-size: 15px;
    text-transform: uppercase;
    font-family: fantasy;
    color: $blancotexto;
    border-radius: 5px;
    font-family: 'Merriweather Sans', sans-serif;
}
