

main {
    margin-top: 5px;
    height: 100%;


    .historia2{
        margin-bottom: 100px;
        width: 80%;
        height: auto;
        background-color: $blanco;
        color: $blancotexto;
        margin-top: 50px;
    }
}

.Regnum {

    background-color: #ffffff;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}


.paginas {
    background-color: $viofuerte;
    a{
        text-decoration: none;
        color: $blanco;
    }
}