$blancotexto: #ffffff;


main {
    margin-top: 5px;
    height: 100%;

    .historia1{
        margin-bottom: 100px;
        width: 80%;
        height: auto;
        background-color: $blanco;
        color: $blancotexto;
        margin-top: 50px;
    }
}




.fuckLife {
    background-color: #ffffff;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.capituloUno {
    text-align: center;
    background-color: #ffffff;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.parrafoUno {
    text-align: left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
