


$blancotexto: #ffffff;




.articleRegistrarse {
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    color: $blancotexto;
    margin-top: 50px;
}

.nombreYApellidoRegistro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: $grisclaro;
}

.fechaDeNacimiento {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: $grisclaro;
}

.emailRegistro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: $grisclaro;
}

.ingresarContraseña {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: $grisclaro;
}

.repetirContraseña {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: $grisclaro;
}

.aceptoTerminosYCondiciones {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
}

.botonRegistrarse {
    background-color: $violeta;
    color: $blancotexto;
    text-transform: uppercase;
    border-radius: 5px;
    font-family:  'Merriweather Sans', sans-serif;
    margin-bottom: 30px;
    padding: 5px;
    margin-left: 10px;
}