
$blancotexto: #ffffff;


main {
    margin-top: 5px;
    height: 100%;
    ul {
        margin-right: 15px;
    }
    .sobrenosotros{
        margin-bottom: 100px;
    }
}

.sobrenosotros {
    height: auto;
    background-color: rgb(0, 0, 0);
    .nosotros1 {
        height: 400px;
        width: 400px;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 20px;
        margin-bottom: 30px;

    }
    .nosotros2 {
        height: 400px;
        width: 400px;
        border-radius: 20px;
        margin-bottom: 30px;
        margin-left: 100px;

    }
    .sn-titulo{
        color: $blancotexto;
        font-size: 40px;
        font-family: 'Merriweather Sans', sans-serif;
        text-align: center;
        width: 100%;
        margin-bottom: 25px;
        margin-top: 15px;
    }
    .leer {
        margin-bottom: 50px;
        font-size: 40px;
        height: auto;
        width: auto;
        border-radius: 300px;
        background-color: $violeta;
        a{
            text-decoration: none;
            color: $blancotexto;
            font-family: 'Merriweather Sans', sans-serif;

        }
    }
}

.texto {
    font-size: 25px;
    color: $blancotexto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    font-family: 'Merriweather Sans', sans-serif;
}

