$negro: #000000;
$viofuerte: #21007c;
$violeta:  rgb(53, 8, 218);
$vioclaro:rgb(191, 174, 255);
$blanco: rgb(249, 249, 250);
$lila: rgb(204, 192, 247);
$blancotexto: #ffffff;
$grisclaro: #6e6d6e;
$gris: #494947;
$fondo: #f1e3f8;


@import "__index.scss";
@import "__sobrenosotros.scss";
@import "__contacto.scss";
@import "__registrarse.scss";
@import "__historias.scss";
@import "__historia1.scss";
@import "__historia2.scss";





