<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/destino.css">

    <meta name="keywords" content="once upon a time, fanfiction, Regnum, historias, ilustraciones, historias ilustradas"> 

    <title>Regnum</title>

    <meta name="descripcion" content="En el año 2900, la búsqueda de otros planetas habitables, logró su objetivo. Los científicos más calificados del mundo, lograron abrir una grieta en el espacio.">

</head>
<body>
    
<div class=" encabezado div-h1 d-flex flex-row justify-content-center">
    <h1 class="text-center text-uppercase mt-3">onceuponatime</h1>
</div>

<header>

    <nav class="navbar navbar-light navbar-expand-lg text-uppercase">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">OUAT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobrenosotros.html">Sobre nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="registrarse.html">Registrarse</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="historias.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Historias
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="historia1.html">F.L. Repartos</a></li>
                  <li><a class="dropdown-item active" href="historia2.html">Regnum</a></li>
                  <li><a class="dropdown-item" href="historias.html">Mostrar todo</a></li>
                </ul>
              </li>
            </ul>
            <form class="iniciandoSesion">
                <input class="iniciarSesion" type="email" value="correo">
                <input class="iniciarSesion" type="password" value="contraseña">
                <input class="submitInicioSesion" type="submit" value="Enviar">
            </form>
          </div>
        </div>
      </nav>

</header>


<main class="d-flex flex-row justify-content-center">



    <div class="historia2">
      <h2 class="Regnum"> REGNUM</h2>
      <h3 class="capituloUno">Capitulo uno: "La nave" </h3>
      <p class="parrafoUno">«Si todos los sitios a los que tenemos acceso están llenos de seres vivos, ¿por qué todos esos inmensos espacios del cielo sobre las nubes serían incapaces de tener habitantes?» 
        —Isaac Newton
      </p>
      <p class="parrafoUno">En el año 2900, la búsqueda de otros planetas habitables, logró su objetivo. Los científicos más calificados del mundo, lograron abrir una grieta en el espacio.  Dentro de la misma, se descubrió un planeta majestuoso. Decidieron llamarlo “Planeta madre” por su gran tamaño y por sus características similares a la tierra. A partir de las observaciones pudieron confirmar que aquel mundo contenía océanos, bosques, montañas… </p>
      <p class="parrafoUno">¿Habitantes?      </p>
      <p class="parrafoUno">Los datos que habían logrado recolectar no llegaban a confirmar si en aquel planeta existía vida inteligente, por lo que descartaron esta posibilidad rápidamente. Hasta aquel momento ya se habían explorado otros planetas, ninguno de ellos contenía rastros de organismos desarrollados, tal vez algunas bacterias, fauna, minerales, metales o una escasa vida animal. Pero nunca una especie que se asemeje a la raza humana. Fué por esto que los profesionales no tardaron en descartar esta teoría, consideraban que la vida extraterrestre solo existía en la ciencia ficción. </p>
      <p class="parrafoUno">En el año 2900, el Hombre se consideraba a sí mismo único, victorioso, había logrado sobrevivir a guerras, la contaminación ambiental, enfermedades, desastres naturales y conflictos políticos. La raza humana se encontraba en su mejor momento, los avances científicos eran indudables. Con la apertura de la grieta en el espacio y el descubrimiento del Planeta Madre, la comunidad científica enloquecía por llevar a cabo más investigaciones y excursiones para realizar observaciones pero, como dice el viejo refrán, “La curiosidad mató al gato”.</p>
      <p class="parrafoUno">   Los líderes del mundo planificaron una expedición a aquel planeta misterioso. Autorizaron la construcción de la nave “R1M4N” y en todo el mundo se festejó esta iniciativa, muchas personas se hacían ilusiones con aquel mundo, se comenzaron a escribir historias y poemas inspirados en él. </p>
      <p class="parrafoUno">Seleccionaron quinientos tripulantes, con el objetivo de realizar investigaciones y habitar aquel mundo pero, nunca se supo nada más de ellos. Se había perdido el contacto con la tripulación a una semana de la llegada estimada al Planeta Madre, por lo cual nunca supieron si habían logrado aterrizar, si habían sido víctimas de una tormenta de meteoritos o de alguna falla del navío. A partir de ese desafortunado evento, los científicos profundizaron sus investigaciones. Sondas magnéticas artificiales que provenían de aquel planeta y de la grieta llamaron su atención. Esas sondas podrían ser las causantes de la pérdida de contacto con la nave “R1M4N”. </p>
      <p class="parrafoUno">Las investigaciones que solían ser entusiastas en la búsqueda de un nuevo mundo, pasaron a tomar un tono más tenebroso. La desaparición de los quinientos tripulantes había angustiado a la población de la tierra, los científicos estaban presionados a dar respuestas. La reputación de la comunidad científica había decaído, las opiniones sobre aquel planeta habían cambiado radicalmente, los que antes apreciaban con admiración a aquel planeta, comenzaron a sentir escalofríos al pensar que algo malo provenía de él.</p>
      <p class="parrafoUno">Los años pasaron. Tiempo después de la tragedia de los quinientos tripulantes, la tierra comenzó a sufrir sequías, fenómenos naturales y hasta enfermedades mortales. La raza humana, la cual había logrado atravesar catástrofes en el pasado, se encontraba desconcertada. Las enfermedades eran completamente desconocidas, las sequías se dieron casi de la noche a la mañana, no tuvieron tiempo de controlarlas, los desastres naturales eran impredecibles y desconcertantes cobrándose de esta forma muchas vidas.</p>
      <p class="parrafoUno"> Se comenzó a decir entre los habitantes,  que las pestes eran consecuencia de un castigo divino, que había sido abierto un portal al mundo espiritual. Culpaban a los científicos de desafiar la creación de Dios al abrir una grieta en el universo. </p>
      <p class="parrafoUno"> Las catástrofes continuaron, la raza humana corría el riesgo de extinguirse. El planeta tierra se estaba volviendo inhabitable, los líderes del mundo acordaron empezar la búsqueda de otro mundo, pero el único planeta habitable que conocían era el Planeta Madre. La última expedición había fallado, pero bajo las nuevas circunstancias parecía ser la única opción. En busca de una salida, en el año 2920, el ingeniero John Milles comenzó la construcción de una nueva nave para evacuar a otras quinientas personas al planeta madre. </p>
      <p class="parrafoUno">Milles era un hombre enfocado y algo melancólico. Se mostraba predispuesto y no parecía temerle a un destino tortuoso. </p>
      <p class="parrafoUno">No le fue difícil conseguir los fondos y el apoyo para el proyecto “S484”. Fue así que en el año 2927, la nave había sido finalizada.</p>
      <p class="parrafoUno">Los ingenieros fueron en busca de las personas más sanas y aptas, no quedaban muchas luego de la última ola de enfermedades. Milles dirigía la expedición. Seleccionaron médicos, trabajadores de tierra y mecánicos junto a sus familiares. Era importante seleccionar niños pues el viaje duraría años. Ellos serían los responsables de que la raza humana siga existiendo. </p>
      <p class="parrafoUno">27 de agosto, día del despegue.</p>
      <p class="parrafoUno">La tensión aumentó el día que la nave “S484”  realizaba su despegue. Agrupaciones enardecidas reclamaban un lugar. Otros grupos proclamaban el peligro del viaje, creían que se estaban dirigiendo a la autoaniquilación. Los religiosos insistían en que aquella grieta no era más que un portal al mundo espiritual, o peor, al infierno. </p>
      <p class="parrafoUno">Mientras los seleccionados abordaban la nave, grupos armados custodiaban el embarque. La población que no había sido seleccionada se encontraba furiosa. Un enrejado los separaba de aquella multitud. </p>
      <p class="parrafoUno">Antes de abordar, Milles, dirigió culposo su mirada a la multitud enardecida. Justo antes de volver su mirada, vio una niña entre la gente. Estaba con un niño un poco más pequeño. La pequeña exigía que salven a su hermano con postura firme mientras el niño la abrazaba entre lágrimas, no quería apartarse de su hermana. Esta escena logró conmover al frío ingeniero. Sin dudarlo, le pidió a su guardia personal que permita abordar a esos dos pequeños, haciéndolos pasar como sus hijos. Así se hizo y los niños abordaron. El guardia les explicó que debían fingir ser hijos de John Milles con tono amable pero la niña, aún con desconfianza, mantenía a su hermano atrás suyo, continuaba protegiéndolo. </p>
      <p class="parrafoUno">La nave despegó, una lágrima se deslizó por la mejilla de la pequeña que veía a la tierra alejarse mientras abrazaba a su hermano. Se secó su mejilla y recobró su postura. Era un tanto gracioso ver a una niña tan pequeña y delgada con tanto coraje y dureza, pero en sus ojos se podía ver que tuvo motivos para volverse de esa manera. Poco después el guardia reposó su mano en el hombro de la pequeña y los escoltó al camarote del ingeniero. Allí los recibió. Hace años que Milles era un hombre serio y melancólico, pero apenas vio a los niños tras el enrejado su corazón se ablandó. </p>
      <p class="parrafoUno">La pequeña tomó asiento con su hermano a gran distancia del ingeniero. Luego de un gran silencio, el hombre dejó dos platos con comida en la mesa y abandonó la habitación para darles espacio y se dispuso a espiar tras la puerta. La niña, a pesar de lucir hambrienta, rápidamente dió de comer a su hermano. El pequeño tenía hambre, pero no tanta como su hermana. Se notaba que la niña había renunciado a más de una comida para dársela al pequeño. Milles observaba desde la perilla. Nuevamente conmovido, volvió a entrar en la habitación. La muchacha asustada habló.</p>
      <p class="parrafoUno">-Lo siento, mi hermano tenía hambre, puede quedarse con el otro plato- 
      </p>
      <p class="parrafoUno">El ingeniero esbozó una sonrisa. La pequeña seguía sacrificando su alimento.
      </p>
      <p class="parrafoUno">-Puedes quedarte con ese plato- comentó el hombre.      </p>
      <p class="parrafoUno">La niña no dudó y comenzó a comer. </p>
      <p class="parrafoUno">-Mi nombre es John Milles¿Ustedes cómo se llaman?- preguntó buscando romper el hielo.</p>
      <p class="parrafoUno">Ella tragó su comida y respondió con más confianza.</p>
      <p class="parrafoUno">-Me llamo Terra, tengo nueve años. El es Peter, mi hermano, tiene siete años-</p>
      <p class="parrafoUno">-¿Dónde se encuentran tus padres Terra?- preguntó el hombre.</p>
      <p class="parrafoUno">-Murieron después de haber enfermado, ya hace algunos meses que estoy a cargo de mi hermano- respondió la niña sin darle mucha importancia</p>
      <p class="parrafoUno">-Ellos nos abandonaron antes de enfermar- agregó.</p>
      <p class="parrafoUno">Milles comprendió que Terra cargó con la responsabilidad de cuidar a su hermano hace ya mucho tiempo. Esperó a que terminara de comer para seguir hablando con ella.</p>
      <p class="parrafoUno">-Terra, se ve que eres una niña inteligente-</p>
      <p class="parrafoUno">La pequeña se sintió orgullosa. El hombre sonrió ante la confianza de la niña. </p>
      <p class="parrafoUno">-Tú sabes que en esta nave solo hay familias. Fue contra mi deber que los dejé abordar, es por eso que necesito que actúen como mis hijos. Yo les explicaré a las personas que me conocen. Pero los que no, podrían armar un gran revuelo.- explicó el ingeniero.</p>
      <p class="parrafoUno">Terra comprendió. Le agradaba la idea de volver a tener un padre y que realmente los cuidase.</p>





    </div >




</main>

<div class="d-flex justify-content-center btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class=" btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="paginas btn "><a href="historia2.html">1</a></button>
    <button type="button" class="paginas btn "><a href="historia2cap2.html">2</a></button>
    <button type="button" class="paginas btn "><a href="historia2cap3.html">3</a></button>
    <button type="button" class="paginas btn "><a href="historia2cap4.html">4</a></button>
    <button type="button" class="paginas btn "><a href="historia2cap5.html">5</a></button>
    <button type="button" class="paginas btn "><a href="historia2cap6.html">6</a></button>



  </div>
</div>


    

<footer >
  <div class="d-flex justify-content-center">
        <a class="linkedin" href="https://www.linkedin.com/feed/">      <img class="fin__redes" src="../imagenes/linkedin.png" alt=""></a>
  
        <a class="instagram" href="https://www.instagram.com/">      <img class="fin__redes" src="../imagenes/instagram.png" alt=""></a>
  
        <a class="facebook" href="https://www.twitter.com/">      <img class="fin__redes" src="../imagenes/twitter.png" alt=""></a>
  </div>
  
     <h3> pie de pagina &copy;2021 desarrollado por: angela wade</h3>
  
      </footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>
