<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/destino.css">

    <meta name="keywords" content="once upon a time, fanfiction, Regnum, historias, ilustraciones, historias ilustradas"> 

    <title>Regnum</title>

    <meta name="descripcion" content="En el año 2900, la búsqueda de otros planetas habitables, logró su objetivo. Los científicos más calificados del mundo, lograron abrir una grieta en el espacio.">

</head>
<body>
    
<div class=" encabezado div-h1 d-flex flex-row justify-content-center">
    <h1 class="text-center text-uppercase mt-3">onceuponatime</h1>
</div>

<header>

    <nav class="navbar navbar-light navbar-expand-lg text-uppercase">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">OUAT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobrenosotros.html">Sobre nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="registrarse.html">Registrarse</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="historias.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Historias
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="historia1.html">F.L. Repartos</a></li>
                  <li><a class="dropdown-item active" href="historia2.html">Regnum</a></li>
                  <li><a class="dropdown-item" href="historias.html">Mostrar todo</a></li>
                </ul>
              </li>
            </ul>
            <form class="iniciandoSesion">
                <input class="iniciarSesion" type="email" value="correo">
                <input class="iniciarSesion" type="password" value="contraseña">
                <input class="submitInicioSesion" type="submit" value="Enviar">
            </form>
          </div>
        </div>
      </nav>

</header>


<main class="d-flex flex-row justify-content-center">



    <div class="historia2">
      <h2 class="Regnum"> REGNUM</h2>
      <h3 class="capituloUno">Capitulo cinco: "La habitación principal" </h3>
      <p class="parrafoUno">Los pasillos los recorrieron con aires positivos. Los demás iniciados se veían ligeramente parecidos a ellos. Algunos con ojos brillantes como Sanira. Otros con los ojos negros como Magnus. Y los demás lucían  pálidos pero muy atractivos como Dante.</p>
      <p class="parrafoUno">Todos los aspirantes se estaban dirigiendo hacia la habitación principal. El grupo humano fue bastante observado. A veces con asombro y otras con desprecio. Eran llamativos pues era notoria su ascendencia.  </p>
      <p class="parrafoUno">Lázaro y Tobias eran castaños casi rubios y ese color no era común en el planeta madre. Peter usaba anteojos, artefactos que no conocían en aquel mundo. Hella era pelirroja y para concluir Terra era rubia con ojos claros. Yendo al encuentro los jóvenes se encontraron con una multitud esperando que se abriese la puerta principal. Supieron entonces que debían esperar allí para entrar a la sala.</p>
      <p class="parrafoUno">Tobias, quién le gustaba romper el hielo con chistes, quiso animar al grupo. </p>
      <p class="parrafoUno">-Se ve que nunca vieron humanos tan sensuales- presumió mientras le guiñaba el ojo a una joven Montacras que pasaba. La cual no entendió la insinuación. Los seres del planeta madre no eran muy demostrativos.  </p>
      <p class="parrafoUno"> -Pues también se ve que nunca vieron a una persona que necesita anteojos- añadió Peter mostrándose ofendido con unos Chitales que observaban sus lentes. </p>
      <p class="parrafoUno">Es obvio que tuvieron sentimientos encontrados por la atención que recibían. Luego, Magnus se acercó de repente. </p>
      <p class="parrafoUno">-Las puertas se abrirán pronto. Será una bienvenida a los aspirantes y una breve explicación de lo que verán aquí- explicó sin mucha simpatía. </p>
      <p class="parrafoUno">-Hey, Magnus ¿Qué hay que hacer para que estas chicas te demuestren un poco de amor?- le preguntó Tobías con tono cómplice y pícaro. </p>
      <p class="parrafoUno"> Magnus sonrió sarcástico.</p>
      <p class="parrafoUno">-A menos que te transformes en una bestia vil a la cual puedan derrotar para ganar puntos de honor en el Regnum no creo que les interese tu presencia- concluyó el Montacras y luego se fue. </p>
      <p class="parrafoUno">-Wow, y a mí ya me era difícil conquistar en la Nave- intervino Peter.</p>
      <p class="parrafoUno">-Creo que está exagerando. No lo escuches Toby- trato de consolarlo Hella. Pero luego apareció Sanira.</p>
      <p class="parrafoUno">-Es que Magnus no bromeaba. En nuestro mundo nacemos de la tierra. No somos producto de dos seres o como ustedes lo llaman “productos del amor”. Solo vivimos para ganar batallas y sabiduría, honrar a nuestros reinos- explicó la Chital sin siquiera haber sido consultada.</p>
      <p class="parrafoUno">Todos tenían rostros de desentendimiento. </p>
      <p class="parrafoUno">-¿¡No pueden tener relaciones!?- preguntó, con un tono poco disimulado, Peter. Terra golpeó su brazo por haber levantado la voz. </p>
      <p class="parrafoUno">-Podemos, pero si te descubren, la pena es la muerte- responde la Chital sin verse afectada por la pregunta.</p>
      <p class="parrafoUno">-Qué pobre vida triste que tienen- agregó Tobías. Sanira puso una mirada de aceptación al comentario y siguió su ruta.</p>
      <p class="parrafoUno">Tanta fue la distracción del grupo que no notaron que hace poco Lázaro se había separado de ellos. Terra les ordenó quedarse juntos en el lugar mientras daba un vistazo. Solo Peter fue con ella. Pobre Peter, siempre lo aventuraban a las cosas que le daban miedo. Pero en defensa de sus amigos, al joven todo le daba miedo. </p>
      <p class="parrafoUno">Buscando se toparon con un grupo de Riumanes que estaban molestando a unos Chitales. Las demás criaturas parecían no hacer caso a la situación lo cual enfureció a Terra quien intentó intervenir.</p>
      <p class="parrafoUno">Se paró delante del Riuman más agresivo con el objetivo de confrontarlo pero los Riumanes trataban a los humanos como leprosos, ni siquiera querían cruzar palabra con ellos. Esto les resultaba un tanto extraño ya que Dante había hasta llevado en brazos a uno de ellos.</p>
      <p class="parrafoUno">El Riuman abusivo se alejó con su grupo sin necesidad de que Terra lo atacara, aplicaban la ley del hielo con los humanos. Los dos Chitales que habían sido acosados se alejaron rápidamente sin siquiera agradecer.  </p>
      <p class="parrafoUno">Qué situación extraña pensó la joven y giró la cabeza buscando a su hermano Peter. </p>
      <p class="parrafoUno">-Aquí estoy Terra. Lejos, pero te apoyo- dijo el joven mientras se escondía tras un Montacras que lo observó iracundo. </p>
      <p class="parrafoUno">Escucharon el ruido de las puertas por lo que se reunieron rápidamente con los demás. Allí estaba Lázaro. Terra enojada le reclamó su ausencia a lo que el joven respondió que necesitaba ir al baño. El asunto quedó ahí. Las puertas se abrieron y así entraron al salón. </p>
      <p class="parrafoUno">En las paredes se encontraban talladas constelaciones, planetas, Dioses y lo que parecía ser el relato de la creación. La habitación era circular como un planetario pero con apariencia antigua. Había  asientos escalonados y Tres tronos se encontraban al final del salón. El dorado en el medio, el negro a la izquierda y el verde a la derecha. </p>
      <p class="parrafoUno">Tomaron un lugar junto a los demás y los reyes dieron presencia. </p>
      <p class="parrafoUno">-Bienvenidos, jóvenes criaturas, al Regnum- comenzó el Rey Chital.</p>
      <p class="parrafoUno">-Varios ya me han visto en persona. Ya sabrán que mi nombre es Ferrenius.-  agregó con mirada fija al grupo humano. </p>
      <p class="parrafoUno">-Este Regnum no será como los demás. Se les exigirá más. Cómo muchos sabrán se ha agregado un grupo a los convocados. Uno humano. Por ser de un planeta inferior van a recibir asesoría especial de un líder de cada reino. Magnus, del reino Montacras. Sanira, del Chital. Y para concluir… Dante, Riuman- no sonó muy convencido del último asesor. La tensión entre Riumanes y Chitales era visible. El rey Riuman no había asistido al salón, eso les resultó extraño a los humanos, pero tampoco lograban comprender demasiado sobre cómo funcionaban las cosas en el Planeta Madre.</p>
      <p class="parrafoUno">La reunión continuó con Amphora. </p>
      <p class="parrafoUno">-Sus habitaciones ya han sido asignadas. Confiamos en que este año no habrá daños o problemas con las puertas. Su primera prueba será la supervivencia dentro del ancestral “Bosque de los Caídos". Los suministros necesarios se les serán dados al salir. Y que la suerte los acompañe-</p>
      <p class="parrafoUno">-Ya he dicho todo. Concluimos el encuentro. Que su búsqueda de honor sea virtuosa. Pueden retirarse- concluyó Ferrenius.</p>
      <p class="parrafoUno">-¿Qué habrán querido decir con “Bosque de los caídos"?- preguntó a sus compañeros Peter con un murmullo temeroso.</p>
      <p class="parrafoUno">-Pues no creo que se refiere a que la gente suele tropezar y caer dentro- respondió Lázaro con sarcasmo y preocupación al mismo tiempo.</p>
      <p class="parrafoUno">Todos comenzaron a marchar al compás. Las demás criaturas no parecían preocuparse. Los cuernos sonaron llamando a los Prudens y estos se acercaron de inmediato para los preparativos del evento.</p>









    </div >


</main>

<div class="d-flex justify-content-center btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button type="button" class="paginas btn "><a href="historia2.html">1</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap2.html">2</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap3.html">3</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap4.html">4</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap5.html">5</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap6.html">6</a></button>




    </div>
</div>


    

<footer >
  <div class="d-flex justify-content-center">
        <a class="linkedin" href="https://www.linkedin.com/feed/">      <img class="fin__redes" src="../imagenes/linkedin.png" alt=""></a>
  
        <a class="instagram" href="https://www.instagram.com/">      <img class="fin__redes" src="../imagenes/instagram.png" alt=""></a>
  
        <a class="facebook" href="https://www.twitter.com/">      <img class="fin__redes" src="../imagenes/twitter.png" alt=""></a>
  </div>
  
     <h3> pie de pagina &copy;2021 desarrollado por: angela wade</h3>
  
      </footer>


      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


</body>
</html>
