<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/destino.css">

    <meta name="keywords" content="once upon a time, fanfiction, Regnum, historias, ilustraciones, historias ilustradas"> 

    <title>Regnum</title>

    <meta name="descripcion" content="En el año 2900, la búsqueda de otros planetas habitables, logró su objetivo. Los científicos más calificados del mundo, lograron abrir una grieta en el espacio.">

</head>
<body>
    
<div class=" encabezado div-h1 d-flex flex-row justify-content-center">
    <h1 class="text-center text-uppercase mt-3">onceuponatime</h1>
</div>

<header>

    <nav class="navbar navbar-light navbar-expand-lg text-uppercase">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">OUAT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobrenosotros.html">Sobre nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="registrarse.html">Registrarse</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="historias.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Historias
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="historia1.html">F.L. Repartos</a></li>
                  <li><a class="dropdown-item active" href="historia2.html">Regnum</a></li>
                  <li><a class="dropdown-item" href="historias.html">Mostrar todo</a></li>
                </ul>
              </li>
            </ul>
            <form class="iniciandoSesion">
                <input class="iniciarSesion" type="email" value="correo">
                <input class="iniciarSesion" type="password" value="contraseña">
                <input class="submitInicioSesion" type="submit" value="Enviar">
            </form>
          </div>
        </div>
      </nav>

</header>


<main class="d-flex flex-row justify-content-center">



    <div class="historia2">
      <h2 class="Regnum"> REGNUM</h2>
      <h3 class="capituloUno">Capitulo cuatro: "Las puertas" </h3>
      <p class="parrafoUno">Empieza a amanecer.</p>
      <p class="parrafoUno">Los caballos tiraban veloces del carro. </p>
      <p class="parrafoUno">Empezaron a detenerse. Terra no había podido dormir por la noche, el sueño comenzaba a apoderarse de ella, poco después, pierde la batalla y se duerme.</p>
      <p class="parrafoUno">Habían llegado a su destino. Los guardias los obligaron a bajar de manera brusca. </p>
      <p class="parrafoUno">Lázaro forcejeo con uno de los guardias, no estaba de humor para esos tratos, Hella fue resguardada por Peter, no quería que molestaran a su amiga aún afligida por separarse de sus padres. Tobías, quien estaba dormido, fue arrojado del carruaje obligándolo a despertarse repentinamente otra vez. </p>
      <p class="parrafoUno">-¿Porque simplemente no me avisan cuando llegamos?- 	Reclamaba el joven. </p>
      <p class="parrafoUno"> Pretendían hacer lo mismo que le hicieron a Tobías con Terra quien seguía dormida, pero de pronto Dante la cargó en brazos para evitar conflictos. Esto disgustó a las criaturas presentes. El contacto físico no era bien visto por ellos. A pesar de ser parecidos a los humanos en aspecto, sus costumbres no parecían en absoluto las mismas que en la tierra, los jóvenes humanos iban a comenzar a comprender esto a lo largo de su travesía. Los humanos se disgustaron con la acción, todos menos Peter que pretendía molestar a su hermana más tarde por lo sucedido.         </p>
      <p class="parrafoUno">Tobías, aún en el suelo, le reclamó a sus amigos no haber sido tan amables como el Riuman.</p>
      <p class="parrafoUno">-Yo también quiero atención especial- decía fingiendo drama. </p>
      <p class="parrafoUno">… </p>
      <p class="parrafoUno"> El Regnum se realizaba en un majestuoso castillo que se encontraba en las afueras de las tierras Riumanes.
        Estaban ante un hermoso reino, con fauna imparable y lagos eternos. Hace tiempo que esos paisajes no se encontraban en la tierra. Les resultó hermoso. Hasta Lázaro que era el más duro logró conmoverse.
        Se adentraron a las puertas del reino que tenían talladas en sus piedras la palabra Regnum. Se abrieron majestuosas y fueron recibidos por unos seres muy distintos. Hasta ese momento, todos los habitantes eran semejantes a la raza humana, pero esas criaturas parecían hechas de plantas, tierra y fauna del reino. Eran servidores del Regnum desde sus inicios. Las criaturas eran muy antiguas y se las conocía como Prudens. Eran seres con mucha sabiduría y fanáticos de las costumbres de aquel planeta.</p>
      <p class="parrafoUno">La forma de dividir a los sobrevivientes había despertado cierta preocupación en los humanos, pero sabían que no tenían poder en ese lugar. </p>
      <p class="parrafoUno">Los jóvenes quedaron impresionados, esas criaturas parecían salidas de un cuento de magia y fantasía.</p>
      <p class="parrafoUno">Los Prudens guiaron a los jóvenes a sus habitaciones. Por los pasillos fueron observados pero para suerte de ellos se les fueron asignadas habitaciones contiguas junto al resto de los humanos, tal vez, para tenerlos mejor vigilados.</p>
      <p class="parrafoUno">Lo último que se les fue dicho por el Prudens que los escoltó a sus alcobas, fue que debían presentarse en el salón principal por la noche. Mientras se marchaban esas criaturas extrañas, no pudieron evitar notar a Dante que seguía con Terra en sus brazos, esto los indignaba, eran seres muy estrictos. Bastó una mirada fulminante del Riuman para que aquellas criaturas se marcharan rápidamente, algo en aquel joven era temido por el resto, pero los humanos aún no sabían que.</p>
      <p class="parrafoUno">Peter se acercó a Dante. </p>
      <p class="parrafoUno">-Ella es mi hermana Terra ¿Te gusta no?- le preguntó con el objetivo de molestar al Riuman. </p>
      <p class="parrafoUno">Aquel frunció el ceño e ignoró el comentario ya que lo había incomodado.</p>
      <p class="parrafoUno">Al llegar a la habitación de la joven la recostó en su cama y se marchó.</p>
      <p class="parrafoUno">Lázaro se plantó frente a la habitación de Terra. Estaba vigilando que Dante no le hiciera daño. </p>
      <p class="parrafoUno">...</p>
      <p class="parrafoUno">“Terra, tienes que prometer tener mucho cuidado en el planeta al que vamos. No sabemos qué criaturas puedan haber allí. Hace tiempo, una nave había viajado para habitar ese mundo, pero nunca supimos nada más sobre ellos. No sabemos que podemos encontrar”</p>
      <p class="parrafoUno">La joven humana despierta. Había soñado con las palabras de Milles. Comienza a hacerse preguntas ¿Qué había sucedido con los antiguos viajeros?¿Acaso estaban en peligro? Al terminar de despabilarse, se da cuenta que sus amigos no están con ella, se preocupó. Debía buscarlos.         </p>
      <p class="parrafoUno">Terra intentó abrir la puerta pero esta se deformó hasta formar una cara alargada. </p>
      <p class="parrafoUno"> -Oigame señorita- habló la puerta con muchos modales -Creo que usted está invadiendo mi espacio personal- 
        No es necesario recordar la falta de costumbre de los seres de ese planeta al contacto.</p>
      <p class="parrafoUno">La joven pegó un grito por el susto.</p>
      <p class="parrafoUno">-¿Ya despertaste?- se escucha desde la habitación de al lado. Era Tobías.</p>
      <p class="parrafoUno"> -Chicos. ¿Acaso soy la única con un pedazo de madera parlante por puerta?- </p>
      <p class="parrafoUno">A esto Hella respondió desde otra recamara.</p>
      <p class="parrafoUno">-La mía es súper simpática- contestó alegre por su nueva compañía.    </p>
      <p class="parrafoUno">Los demás tuvieron reacciones distintas. A Lázaro le costaba hacer amistad por su brusco carácter y su puerta, a diferencia de las demás, era igual de gruñona que él. Tobías contaba chistes y conversaba con la suya. Y Peter quería pensar que no estaba allí, la puerta le causaba temor y se escondió debajo de la cama. Tuvo la mala suerte que le haya tocado la puerta más coqueta de todas.</p>
      <p class="parrafoUno">-Muchacho, no te escondas. Déjame ver ese bello rostro- le insistía la puerta. </p>
      <p class="parrafoUno">Terra, al ver que no era la única en esa extraña situación decidió consultar sus dudas con la puerta.</p>
      <p class="parrafoUno">-¿Tienes algún nombre por el que pueda llamarte?- inició la joven la conversación.</p>
      <p class="parrafoUno">La puerta se asombró por la pregunta.</p>
      <p class="parrafoUno">-Mira niña. Aquí no suelen escucharnos demasiado. Los huéspedes suelen callarnos con un hechizo que vienen sabiendo antes de iniciar el Regnum. La verdad es molesto, logra que se me contracture todo y no me gusta que toquen mi picaporte porque…- la puerta continuó. Hace tiempo no tenía con quién conversar.</p>
      <p class="parrafoUno">-Es que quisiera que me ayudes. No quiero lanzar ningún hechizo. Dudo que yo pueda hacer eso- interrumpió Terra.</p>
      <p class="parrafoUno">La puerta la observó dudosa y respondió.</p>
      <p class="parrafoUno">-Ahora que te veo bien creo que eres un tanto extraña. No tienes la apariencia de un Chital. Ni la altura de un Montacras. Ni el bien parecido aspecto de un Riuman. Disculpa mi ignorancia pero¿Qué eres tú?-</p>
      <p class="parrafoUno">-Una humana- respondió.</p>
      <p class="parrafoUno">La puerta se exaltó y gritó.</p>
      <p class="parrafoUno">-¡Una humana!- y se dirigió a las otras puertas-¡Chicas, mandaron al grupo humano a nuestras habitaciones!¡Qué emocionante!- </p>
      <p class="parrafoUno">Las otras puertas se unieron a la emoción y comenzaron a hacer tanto ruido que los pasillos retumbaban. Los jóvenes las callaron. No querían llamar la atención. </p>
      <p class="parrafoUno">Terra siguió con las preguntas.</p>
      <p class="parrafoUno">-¿Podrás decirme para que nos trajeron a este lugar?- preguntó en murmullos para no volver a exaltar a la puerta.</p>
      <p class="parrafoUno">-Es el Regnum, las criaturas más respetadas del universo son elegidas para completarlo. Los preparan como guerreros y les otorgan la sabiduría de la creación. Supimos que el consejo de reyes había decidido traer un grupo humano. Pero no sabíamos cómo lucían- respondió cómplice la puerta en voces bajas.</p>
      <p class="parrafoUno">Terra comprendió que las pruebas iban a ser complicadas. Pero si querían quedarse, debían superarlas.</p>
      <p class="parrafoUno">La puerta carraspeó buscando sacar a la joven del transe.    </p>
      <p class="parrafoUno">-La ropa está en la cama- le indicó con la mirada el lugar.</p>
      <p class="parrafoUno">Terra volteó al otro lado de la habitación y vio allí unas ropas dobladas sobre las sábanas. Habían unos borcegos de una piel extraña, provenía de un animal que no conocía. Unos pantalones con un cinto para guardar cuchillos. Una remera por debajo. una chaqueta azul oscuro con el escudo del regum en la espalda. Cuando ya se había equipado. Lo primero que vio debajo de la cama era una espada con una nota. “Qué te acompañe en tus batallas” no estaba firmada. Era una espada hermosa. Con un filo fatal y un reflejo azulado. El mango negro y ligero hecho del mismo cuero que sus zapatos. La guardó en su funda, vendó sus manos preparada para el peligro y se aventuró.</p>
      <p class="parrafoUno">-Noto por tu espada que tienes alguna especie de ángel guardián en este mundo, aprovechalo- </p>
      <p class="parrafoUno">Terra no supo qué responder y avanzó.</p>
      <p class="parrafoUno">La puerta se abrió en silencio pero antes de atravesar Terra le dijo.</p>
      <p class="parrafoUno">-¿Te molestaría que te llame Ofelia? Me parece un lindo nombre-    </p>
      <p class="parrafoUno">Su nueva amiga sonrió emocionada y le contestó  -Mejor que pedazo de madera vieja-</p>
      <p class="parrafoUno">Así se despidieron y encontró a su grupo en el pasillo. Todos parecían haber recibido obsequios del benefactor desconocido. Tobías presumía su traje haciendo poses. Nunca habían tenido ropas tan bonitas. Hella también parecía contenta. Por lo que los demás habían hablado con sus nuevas compañeras de cuarto, tomaban el Regnum como un cambio, una gran oportunidad de ser parte de ese planeta. Pero Terra aún tenía dudas, esas criaturas ocultaban algo.</p>
      <p class="parrafoUno">El resto de los jóvenes humanos salieron de sus habitaciones. Había llegado la hora de reunirse en el salón.</p>










    </div >


</main>

<div class="d-flex justify-content-center btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button type="button" class="paginas btn "><a href="historia2.html">1</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap2.html">2</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap3.html">3</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap4.html">4</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap5.html">5</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap6.html">6</a></button>




    </div>
</div>


    

<footer >
  <div class="d-flex justify-content-center">
        <a class="linkedin" href="https://www.linkedin.com/feed/">      <img class="fin__redes" src="imagenes/linkedin.png" alt=""></a>
  
        <a class="instagram" href="https://www.instagram.com/">      <img class="fin__redes" src="imagenes/instagram.png" alt=""></a>
  
        <a class="facebook" href="https://www.twitter.com/">      <img class="fin__redes" src="imagenes/twitter.png" alt=""></a>
  </div>
  
     <h3> pie de pagina &copy;2021 desarrollado por: angela wade</h3>
  
      </footer>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


</body>
</html>
