<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/destino.css">

    <meta name="keywords" content="once upon a time, fanfiction, Regnum, historias, ilustraciones, historias ilustradas"> 

    <title>Regnum</title>

    <meta name="descripcion" content="En el año 2900, la búsqueda de otros planetas habitables, logró su objetivo. Los científicos más calificados del mundo, lograron abrir una grieta en el espacio.">

</head>
<body>
    
<div class=" encabezado div-h1 d-flex flex-row justify-content-center">
    <h1 class="text-center text-uppercase mt-3">onceuponatime</h1>
</div>

<header>

    <nav class="navbar navbar-light navbar-expand-lg text-uppercase">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">OUAT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobrenosotros.html">Sobre nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="registrarse.html">Registrarse</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="historias.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Historias
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="historia1.html">F.L. Repartos</a></li>
                  <li><a class="dropdown-item active" href="historia2.html">Regnum</a></li>
                  <li><a class="dropdown-item" href="historias.html">Mostrar todo</a></li>
                </ul>
              </li>
            </ul>
            <form class="iniciandoSesion">
                <input class="iniciarSesion" type="email" value="correo">
                <input class="iniciarSesion" type="password" value="contraseña">
                <input class="submitInicioSesion" type="submit" value="Enviar">
            </form>
          </div>
        </div>
      </nav>

</header>


<main class="d-flex flex-row justify-content-center">



    <div class="historia2">
      <h2 class="Regnum"> REGNUM</h2>
      <h3 class="capituloUno">Capitulo tres: "Sobrevivientes" </h3>
      <p class="parrafoUno">La luz de la mañana caía sobre el rostro de los humanos. Habían viajado toda la noche. Terra fue la primera en despertar. Luego de acostumbrarse a la luz del día contempló los alrededores. El paisaje era bellísimo. Los árboles abundaban y el cielo era claro. Se asemejaba a la tierra en sus mejores tiempos. La joven nunca había visto un árbol de cerca.  En el camino comienzan a verse edificaciones, casas de los habitantes de aquellas tierras. Estaban llegando a la ciudad que había nombrado la mujer extraña.</p>
      <p class="parrafoUno">Aquellas personas lucían similares a los guardias morenos. Pero no llevaban escudos en sus ropas como ellos. Tal vez se tratase de un escudo militar o de jerarquía. </p>
      <p class="parrafoUno">Terra volteó a ver al resto de los sobrevivientes quienes comenzaban a despertarse. La joven rápidamente revisa el estado de su hermano, Peter se encontraba calmo pero un tanto despistado, acababa de despertar.</p>
      <p class="parrafoUno">Los carros comenzaron a ir más lentos, los humanos entendieron que estaban llegando al destino. Peter logra divisar una estructura enorme. Por los detalles del edificio, sus esculturas llamativas y la seguridad que rodeaba al mismo era fácil deducir que se trataba de un palacio. De repente los carros frenaron y los sobrevivientes fueron obligados a descender. </p>
      <p class="parrafoUno">La tripulación, ya consciente, comienza a temer lo que podría suceder. Los padres buscaban a sus hijos y viceversa, algunos notaron la ausencia de otros. Muchos habían muerto en el aterrizaje. Únicamente la mitad de la tripulación había logrado sobrevivir al impacto, tal vez menos, pero no hubo tiempo para contar cabezas. </p>
      <p class="parrafoUno">Los hermanos buscan rostros familiares entre la multitud, esperando que sus amigos estuvieran a salvo. Logran ver a sus compañeros en otro carro, estaban sanos y salvos.  </p>
      <p class="parrafoUno">Terra no tarda en notar que había sobrevivido muy poca gente. Algo extraño estaba sucediendo.  </p>
      <p class="parrafoUno">Tras haber controlado la histeria de los humanos, aquellos guardias extravagantes logran introducirlos al edificio.</p>
      <p class="parrafoUno">Escoltan a los humanos hasta un gran salón con tres majestuosos tronos. Cada uno lleva un escudo distinto. </p>
      <p class="parrafoUno">Uno de ellos es como el de la mujer de ojos avellana, otro como el de los guardias morenos, el tercero aún no lo habían visto en ningún guardia o habitante de aquel mundo. </p>
      <p class="parrafoUno">Los dividieron en dos grupos, a los adultos por un lado y a los jóvenes por otro. Los mayores se veían muy avejentados, los factores contaminantes de la tierra los habían hecho envejecer antes de tiempo, a su vez, el aterrizaje dejó aturdidos a la mayoría de ellos.</p>
      <p class="parrafoUno">La forma de dividir a los sobrevivientes había despertado cierta preocupación en los humanos, pero sabían que no tenían poder en ese lugar. </p>
      <p class="parrafoUno">Una vez organizados en el salón no demoraron en entrar tres personas a la habitación. En el trono del centro se acomodo un anciano con ojos color avellana, como los de la mujer extraña, a pesar de aparentar una edad avanzada sus cabellos eran largos y oscuros, sin canas. A su derecha, se sentó una mujer morena con gran presencia, con tan solo mirarla sentías su espíritu fuerte, era intimidante. Sus ojos eran negros sin rastros de esclerótica en ellos. A la izquierda del anciano tomó asiento un hombre de tez pálida, cabellos oscuros y de gran atractivo. Las apariencias de esos tres seres no eran muy diferentes a las de los humanos. Pero algo diferente había en ellos, algo que aún no sabían.</p>
      <p class="parrafoUno">El anciano tomó la palabra.</p>
      <p class="parrafoUno">-¡Bienvenidos, viajeros! Mi nombre es Ferrenius, rey Chital. A mí derecha podrán ver a Amphora, reina Montacras. Y a mi izquierda, Inferius rey Riuman. Hemos diferido entre nosotros sobre qué hacer con ustedes. Comprenderán  que no podemos confiar ciegamente en unos extraños, no debieron haber venido. Sin embargo, aquí están.- Comenzó su discurso Ferrenius con un tono casi amable a pesar de su postura seria.</p>
      <p class="parrafoUno">-Muchos seres han querido ocupar nuestras tierras, pero ninguno era digno. Traen sus sucias imperfecciones y arruinan nuestra armonía. No puedo permitir eso…- Agregó en un tono más amenazante quedando en silencio. </p>
      <p class="parrafoUno">Amphora dirigió su mirada hacia el Chital invitándolo a continuar con su discurso. </p>
      <p class="parrafoUno">Los humanos comenzaron a sentir temor hasta que Ferrenius retomó la palabra.</p>
      <p class="parrafoUno">-Hemos acordado darles una oportunidad de permanecer en nuestras tierras. Deberán de enviar a sus jóvenes para efectuar las tres pruebas del Regnum, las mismas son obligatorias para los jóvenes de nuestros reinos. Solo así podrán ganar su lugar en nuestro mundo y ser aceptados como iguales. Los que no participen podrán disponer de las herramientas necesarias para arreglar su nave. De no ser aptos, no tendremos más opción que expulsarlos nuevamente al espacio- concluyó el Rey Chital casi molesto por la decisión, pero resignado a llevarla a cabo.</p>
      <p class="parrafoUno">Al finalizar de explicar las condiciones, el Rey Chital ordenó que llevasen a los “invitados” a otra sala, se podía percibir el rechazo que Ferrenius les tenía a los humanos.  </p>
      <p class="parrafoUno">¿Qué había de malo en ellos?</p>
      <p class="parrafoUno">La exigencia del Rey Chital era inevitable, en aquel mundo regían normas estrictas, si querían quedarse debía ser bajo las mismas normas. Si decidían irse, debían arreglar la nave, por lo que no tenían otra opción. Además ¿A donde volverían? la tierra estaba agonizando.</p>
      <p class="parrafoUno">Los jóvenes comienzan a  ser escoltados a los carros sin darles tiempo de despedirse. Esto dejó en claro que no eran invitados de honor, sino prisioneros. Algunos padres rompieron en llanto y otros trataron de evitar que se lleven a sus hijos, temían lo podría suceder en las pruebas que había nombrado el rey Chital. </p>
      <p class="parrafoUno">Los humanos habían viajado por años con la esperanza de encontrar un hogar, pero algunos empezaron a creer en las profecías de los religiosos. Tal vez habían hecho enojar a Dios, tal vez este era su castigo, tal vez el infierno. </p>
      <p class="parrafoUno"> Los hermanos subieron al primer carro acompañados por Lázaro, Hella y Tobias. Pudieron mantenerse juntos. Al comenzar el viaje, los jóvenes comenzaron a platicar sobre lo que había sucedido. Hella se encontraba preocupada por sus padres ya que habían quedado heridos por el aterrizaje, Lázaro estaba pensativo y en silencio, esa era su forma de demostrar que estaba preocupado. Tobias, a pesar de haber dormido en el viaje al palacio de los tres reinos, logró volver a dormirse. Peter y Terra calmaban a Hella aunque ellos también estaban afligidos por la muerte de Milles.</p>
      <p class="parrafoUno">El carro frenó de golpe logrando que Tobias se desplome en el piso despertándose bruscamente.</p>
      <p class="parrafoUno">-¿Ya llegamos?- Preguntó el joven fingiendo que no le había dolido la caída.    </p>
      <p class="parrafoUno">Poco después, un joven Montacras fornido con una mirada un tanto molesta y una Chital suben con ellos. Los humanos se sintieron incómodos. El silencio se mantuvo por unos instantes hasta que otro pasajero subió al carro, un Riuman.</p>
      <p class="parrafoUno"> El Montracras y la Chital observaron extrañados al joven Riuman, como si este se hubiera equivocado de transporte. A los humanos, en cambio, les llamó la atención su gran atractivo, comenzaban a creer que este era un rasgo distintivo de los Riumanes.  </p>
      <p class="parrafoUno">El carro comenzó a moverse nuevamente.</p>
      <p class="parrafoUno">Tobías, en un intento de ser amistoso, rompió el hielo y se presentó puesto que odiaba los silencios incómodos.    </p>
      <p class="parrafoUno">-Hola, mi nombre es Tobias. Ellos son mis amigos, Hella, Lázaro, Peter y Terra ¿Ustedes como se llaman?-  preguntó tratando de iniciar conversación.</p>
      <p class="parrafoUno">-Yo me llamo Sanira- respondió la Chital -El es Magnus- continuó señalando al Montacras quien no mostraba interés en ser presentado.  </p>
      <p class="parrafoUno">Al Riuman no lo presentó, la joven parecía tenerle miedo y enmudeció al momento de presentarlo.</p>
      <p class="parrafoUno">Hella pateó con disimulo a Tobías por haber creado un clima más incómodo que el anterior. Pero para sorpresa de ellos, el misterioso joven se presentó por su cuenta.</p>
      <p class="parrafoUno">-Soy Dante- dijo con una sonrisa buscando mostrarse simpático, lo cual desconcertó a la Chital y al Montacras. Por la reacción de estos, se podía percibir que esta no era una actitud común en el Riuman.</p>
      <p class="parrafoUno">Dante se veía muy interesado en Terra, la observaba con insistencia. Peter codeaba a su hermana para molestarla. La joven trataba de hacerse la desentendida. Su apariencia podría ser la causante de las miradas del joven, su cabello y sus ojos eran muy distintos a los de su gente. Es por esto que Terra tomó esas miradas como simple curiosidad por parte del Riuman.</p>
      <p class="parrafoUno">La noche había llegado y los jóvenes continuaban viajando. Terra no lograba dormir debido a la presencia de los tres extraños. Las miradas insistentes del Riuman la ponían nerviosa, pero Dante parecía divertirse con su reacción.</p>






    </div >


</main>

<div class="d-flex justify-content-center btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button type="button" class="paginas btn "><a href="historia2.html">1</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap2.html">2</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap3.html">3</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap4.html">4</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap5.html">5</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap6.html">6</a></button>



    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    

<footer>
  <h6> pie de pagina &copy;2021 desarrollado por: angela wade</h6>
  <a href="https://www.linkedin.com/feed/">      <img class="fin__redes" src="../imagenes/linkedin.png" alt=""></a>

  <a href="https://www.instagram.com/">      <img class="fin__redes" src="../imagenes/instagram.png" alt=""></a>

  <a href="https://www.twitter.com/">      <img class="fin__redes" src="../imagenes/twitter.png" alt=""></a>

</footer>

</body>
</html>
