<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/destino.css">

    <meta name="keywords" content="once upon a time, fanfiction, Regnum, historias, ilustraciones, historias ilustradas"> 

    <title>Regnum</title>

    <meta name="descripcion" content="En el año 2900, la búsqueda de otros planetas habitables, logró su objetivo. Los científicos más calificados del mundo, lograron abrir una grieta en el espacio.">

</head>
<body>
    
<div class=" encabezado div-h1 d-flex flex-row justify-content-center">
    <h1 class="text-center text-uppercase mt-3">onceuponatime</h1>
</div>

<header>

    <nav class="navbar navbar-light navbar-expand-lg text-uppercase">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">OUAT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobrenosotros.html">Sobre nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="registrarse.html">Registrarse</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="historias.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Historias
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="historia1.html">F.L. Repartos</a></li>
                  <li><a class="dropdown-item active" href="historia2.html">Regnum</a></li>
                  <li><a class="dropdown-item" href="historias.html">Mostrar todo</a></li>
                </ul>
              </li>
            </ul>
            <form class="iniciandoSesion">
                <input class="iniciarSesion" type="email" value="correo">
                <input class="iniciarSesion" type="password" value="contraseña">
                <input class="submitInicioSesion" type="submit" value="Enviar">
            </form>
          </div>
        </div>
      </nav>

</header>


<main class="d-flex flex-row justify-content-center">



    <div class="historia2">
      <h2 class="Regnum"> REGNUM</h2>
      <h3 class="capituloUno">Capitulo dos: "S484" </h3>
      <p class="parrafoUno">Terra y Peter despertaron con un paisaje estrellado en el camarote del ingeniero. Los niños se sentían a salvo bajo el cuidado de Milles, sobre todo Peter.</p>
      <p class="parrafoUno"> Poco después de despertar, el ingeniero los escoltó al comedor. Allí pudieron observar una gran cantidad de familias. Los rostros no eran del todo alegres, algunos parecían temer lo que les esperaba. Los padres se preocupaban por sus hijos, pero no tuvieron otra opción. Los niños, en cambio, parecían emocionados, se sentían dentro de una aventura. </p>
      <p class="parrafoUno">Mientras comían su ración de avena con jugo empaquetado, Milles comenzó a describirles la nave. Como ingeniero orgulloso describió la estructura de las habitaciones y se mostraba impaciente por enseñarles los simuladores de ecosistemas que habían desarrollado.</p>
      <p class="parrafoUno">Terra y Peter no comprendían el lenguaje técnico que utilizaba Milles, pero sabían que su intención era buena. La conversación fue interrumpida por un colega de su nuevo padre, quien le informó al ingeniero que era tiempo de dirigirse a la tripulación. Milles, siendo el que dirigió el proyecto, tenía la responsabilidad de tranquilizar e instruir a los pasajeros. Fue así que pidió disculpas a sus incipientes hijos, les guiñó el ojo y se dirigió al centro del comedor. </p>
      <p class="parrafoUno">-Espero sepan disculpar mi atrevimiento, mi nombre es John Milles, soy el ingeniero a cargo de el proyecto “S484” que tiene, como objetivo principal, habitar el planeta madre con vida humana. </p>
      <p class="parrafoUno">Se que muchos de ustedes temen el destino que nos aguarda. Pero les aseguro que los profesionales más capacitados del planeta pusieron esmero y vocación en esta nave, por eso prometo que los llevaré a salvo junto con sus familias hasta este nuevo mundo. Nos esperan unos años de convivencia donde prepararemos a nuestros niños para ser el futuro de la raza humana. Podrán elegir una vocación y desarrollarán sus capacidades en la misma.  </p>
      <p class="parrafoUno">Nuestros simuladores de ecosistemas los preparará para este nuevo mundo, y las clases de historia que dictaremos tendrán como objetivo que nuestra amada tierra no sea olvidada. Espero que disfruten su estadía como si se tratase de un largo, muy largo, vuelo a sus hogares. Muchas gracias por confiar en nosotros - concluyó mientras los oyentes aplaudían levemente. Aún continuaban algo temerosos. </p>
      <p class="parrafoUno">...</p>
      <p class="parrafoUno">Ya habían pasado diez años. La nave seguía su dirección hacia aquel mundo misterioso. Dentro de dos meses iban a poder aterrizar.</p>
      <p class="parrafoUno"> Los niños ya habían crecido. Ellos eran el futuro de la raza humana. Los adultos habían quedado estériles por la radiación en la tierra, las enfermedades o por la misma contaminación. Los jóvenes, al haber escapado de la tierra desde pequeños, se mantuvieron fértiles. </p>
      <p class="parrafoUno">Terra había cumplido diecinueve años. Era una joven llamativa y preciosa. Sus cabellos eran rubios y sus ojos azules. Había logrado hacer amistad con dos jóvenes muy simpáticos, Tobias y Hella. Y, aunque tenía muchos pretendientes, toda la tripulación la emparejaba con el hijo de un médico, Lázaro.  </p>
      <p class="parrafoUno">En los años dentro de la nave, la joven se había entrenado para el combate. Era una buena forma de liberar tensiones y se volvió una experta en la materia, además, aún quería proteger a su hermano. Su amiga Hella entrenaba con ella. Hija de mecánicos. Era una joven de cabellos rojos y ojos marrones, a ellas les gustaba imaginar sus vidas en el nuevo planeta. Inventaban criaturas imaginarias que podrían existir en ese mundo y las nombraban.</p>
      <p class="parrafoUno">Tobias era el bromista del grupo. Había abordado la nave con su padre que era uno de los ingenieros. Gracias a él, había aprendido a armar bombas caseras. Creía que le serían de utilidad para cazar animales, a pesar de que sus amigos le aconsejaban que si él cazaba con bombas, no quedaría nada del animal para aprovechar. De todas formas, Tobias pensaba innovar.</p>
      <p class="parrafoUno">Lázaro era bastante serio. Hijo de dos médicos. Su talento eran el arco y la flecha. A los quince años se había emparejado con Terra por presión de sus padres, pero ambos preferían ser amigos. Así es como se llevaban mejor.</p>
      <p class="parrafoUno">Su hermano, Peter, había cumplido diecisiete años. El niño de castaños cabellos y de ojos verdes había vivido casi toda su vida en la nave. Se encontraba ansioso por aterrizar. A él le apasionaban los libros. A temprana edad comenzó a utilizar unos anteojos que Milles le había cedido. A pesar de su corta edad, Peter era un ingeniero prometedor, un niño genio. </p>
      <p class="parrafoUno">El día del aterrizaje había llegado. La tripulación estaba nerviosa. Algunos rezaban, otros se veían alegres y el resto se mostraba temeroso. Comentaban sobre la última nave que había viajado a ese planeta. Esto había inquietado a Peter, temía que el aterrizaje no saliera bien. La verdad es que el joven era fácil de asustar.</p>
      <p class="parrafoUno">Terra sujetó su mano.    </p>
      <p class="parrafoUno">-No dejaré que nada te pase- le dijo a su hermano logrando que se calme.</p>
      <p class="parrafoUno">El momento había llegado. La alarma sonaba anunciando la ocasión. Peter refunfuñaba.</p>
      <p class="parrafoUno">-¿Por qué la alarma tiene que ser tan tenebrosa?- Se preguntaba el joven, estaba muy nervioso.    </p>
      <p class="parrafoUno"> Todos debían tomar sus asientos preparados para el aterrizaje que se encontraban en las habitaciones. Milles, Terra y su hermano tomaron sus lugares. La nave comenzó a penetrar la atmósfera del planeta. Todo parecía ir como se esperaba, hasta  que algo sucedió. Se sintieron golpes y turbulencias. La alarma comenzó a sonar nuevamente. La velocidad aumentó y la presión comenzó a nublar la vista de Milles y de los jóvenes. Peter fue el primero en desvanecerse. Terra intentó desabrocharse para socorrer a su hermano pero el ingeniero se lo impidió.</p>
      <p class="parrafoUno">-¡Estará bien Terra!¡Quédate en tu lugar!¡Quédate ahí!- repetía el hombre.</p>
      <p class="parrafoUno">Una turbulencia provocó que Milles golpeara su cabeza contra el respaldo dejándolo completamente noqueado. La joven gritó su nombre, pero no respondió, solo vió la sangre que asomaba por la cien de aquel hombre que había amado como su propio padre. Con lágrimas en sus ojos y casi desmayada creyó que ese era el final.</p>
      <p class="parrafoUno">... </p>
      <p class="parrafoUno"> Una luz intensa logró despertar a la joven. Habían aterrizado, la luz del mediodía la cegaba. Apenas recobró el aliento desabrochó su cinturón. De inmediato socorrió a su hermano quien se encontraba un poco mareado. Luego de asegurarse de que estuviese bien volteó a ver a Milles. Terra solo podía esperar lo peor. Se acercó para confirmar lo que temía. El impacto lo mató. Peter, al darse cuenta, rompió en llanto. La joven abrazó a su hermano.</p>
      <p class="parrafoUno">Así estuvieron unos minutos hasta que escucharon un ruido en los pasillos. Aún no habían abandonado la habitación. De pronto escucharon una voz.</p>
      <p class="parrafoUno">-¿Hay alguien aquí?¿Hola?- repetía la joven.</p>
      <p class="parrafoUno">Terra se incorporó rápidamente. Debía ser fuerte por su hermano. Abrió la puerta en busca de ayuda.</p>
      <p class="parrafoUno">-¡Aquí! Necesita…- se detuvo.    </p>
      <p class="parrafoUno">La mujer que buscaba sobrevivientes no era de la nave. Terra no la reconocía. Tenía el cabello largo y negro con ojos color avellana. Sus ropas eran de texturas extrañas. Parecían ser de cueros de animales y en sus ropas se destacaba un escudo extraño.
        Terra se congeló. Un escalofrío recorrió su cuerpo. La misteriosa mujer se acercó.</p>
      <p class="parrafoUno">-Estamos llevando a los tuyos a nuestra ciudad- exclamó con una mirada penetrante. El rostro de la joven le resultaba llamativo.</p>
      <p class="parrafoUno">-¿T?¿Qué sucede?- interrumpió Peter con temor al observar la situación.</p>
      <p class="parrafoUno">-Deben venir conmigo- respondió la mujer con autoridad.    </p>
      <p class="parrafoUno">Sin pensarlo demasiado, Terra intentó golpear a la extraña. Pero fue detenida. En un parpadeo un guardia la había sujetado. No había llegado a ver su rostro.  El hombre la arrastró siguiendo órdenes de aquella mujer. Peter estaba siendo escoltado por la misma. Terra luchaba por liberarse pero no lo lograba. Mientras eran arrastrados fuera de la nave, logró ver como esa mujer extraña se introducía en la habitación donde se encontraba Milles.</p>
      <p class="parrafoUno">-¿¡Que van a hacer con él!?¡Dejenlo!- Exigió la joven ya furiosa.</p>
      <p class="parrafoUno"> Al salir de la nave había guardias esperando. Algunos eran parecidos a la mujer con escudos iguales en sus atuendos. Otros eran de tez morena y ojos negros y los escudos de sus ropas eran diferentes. Los aguardaban carros con heridos y sobrevivientes de la tripulación. Un guardia subió con gentileza a Peter a uno de los carros mientras que el hombre que sujetaba a Terra la escoltaba a otro. Con un movimiento exacto, la joven logró librarse. Resignada, subió al carro con Peter. El resto de los secuestrados estaban dormidos, esto les resultó extraño a los hermanos.</p>
      <p class="parrafoUno">-Terra ¿Cómo es posible que estén todos dormidos con semejante situación?- Le cuestionaba Peter a su hermana en voz baja.</p>
      <p class="parrafoUno">-No creo que se hayan dormido por decisión propia- aseguró Terra.</p>
      <p class="parrafoUno"> No entendían lo que sucedía hasta que el sueño los invadió como si hubieran sido sedados. Primero cayó Peter y cuando la vista de Terra comenzó a nublarse, distinguió a la mujer extraña saliendo de la nave con lo que parecía ser el cuerpo de Milles pero, sin poder evitarlo, sus párpados cedieron, y se durmió junto a su hermano. </p>






    </div >


</main>

<div class="d-flex justify-content-center btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button type="button" class="paginas btn "><a href="historia2.html">1</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap2.html">2</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap3.html">3</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap4.html">4</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap5.html">5</a></button>
      <button type="button" class="paginas btn "><a href="historia2cap6.html">6</a></button>



    </div>
</div>


    

<footer >
  <div class="d-flex justify-content-center">
        <a class="linkedin" href="https://www.linkedin.com/feed/">      <img class="fin__redes" src="../imagenes/linkedin.png" alt=""></a>
  
        <a class="instagram" href="https://www.instagram.com/">      <img class="fin__redes" src="../imagenes/instagram.png" alt=""></a>
  
        <a class="facebook" href="https://www.twitter.com/">      <img class="fin__redes" src="../imagenes/twitter.png" alt=""></a>
  </div>
  
     <h3> pie de pagina &copy;2021 desarrollado por: angela wade</h3>
  
      </footer>

      
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
      
</body>
</html>
